.site-header {
    @include tablet {
        width: 400px;
    }
}

.logo { 
    @include tablet {
        display: inline;
        margin-left: 50px;
    }
    @include desktop {
        display: inline;
        margin-left: 165px;
    }
}