body {
	line-height: 1.5;
	font-size: 16px;
	color: white;
	background-color: black;
	font-family: Helvetica;
	padding: 40px 20px 0px 20px;
	font-weight: 300;
	a {
		font-family: Tahoma;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-weight: normal;
		text-decoration: none;
		color: grey;
		&:hover {
			color: white;
		}
		&:visited {
			color: grey;
		}
	}
}

.hfeed-site-container {
	max-width: 1080px;
	margin: 0 auto;
}

.site-main {
	h1,
	h2 {
		font-family: Tahoma;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-weight: normal;
		font-size: 16px;
	}
	.source {
		font-family: Tahoma;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 12px;
		a {
			font-size: 12px;
		}
	}
	.entry-meta {
		display: inline-block;
	}
	.entry-title {
		margin-top: 8px;
		margin-bottom: 15px;
	}
	button {
		background: white;
		border-color: none;
		text-shadow: none;
		color: black;
		font-family: Tahoma;
		text-transform: uppercase;
		padding: 10px;
		margin-top: 20px;
		&:hover {
            background: black;
            color: white;
            border-color: none;
            text-shadow: none;
            box-shadow: none;
		}
	}
	@include desktop {
		margin-left: 150px;
		margin-right: 150px;
	}
}